<a href="https://colab.research.google.com/github/pnp642001/Data-Science-Masters-Bootcamp/blob/main/Assignment_16_Feb_16_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is a database? Differentiate between SQL and NoSQL databases.<br>
ANS:<br>
* A database is a structured collection of data that is organized and managed to enable efficient storage, retrieval, and updating of information. A database can store a wide variety of data types, including text, images, audio, video, and more. 
* Databases are used in a variety of applications, including websites, business applications, scientific research, and more.
* SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases.
* SQL databases are relational databases that store data in tables with rows and columns. They use a structured query language, such as SQL, to interact with the data. 
* SQL databases are known for their ability to handle complex queries, support for transactions, and strong consistency guarantees. Examples of SQL databases include MySQL, PostgreSQL, and Oracle.
* NoSQL databases, on the other hand, are non-relational databases that store data in a variety of ways, including key-value pairs, documents, and graphs. They do not use a structured query language like SQL, but instead use APIs to interact with the data. 
* NoSQL databases are known for their ability to handle large amounts of unstructured data, scale horizontally, and provide high availability. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.<br>
ANS:<br>
DDL stands for Data Definition Language, which is a subset of SQL that allows users to define and manage the structure of a database. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and constraints.<br><br>

The following are some of the commonly used DDL commands:<br>
CREATE: This command is used to create a new database object, such as a table or an index.<br>
DROP: This command is used to delete a database object, such as a table or an index. <br>
ALTER: This command is used to modify the structure of an existing database object, such as a table or a column<br>
TRUNCATE: This command is used to delete all data from a table while keeping its structure intact.<br>

In [ ]:
CREATE TABLE customers (
   id INT NOT NULL,
   name VARCHAR(50) NOT NULL,
   email VARCHAR(50),
   PRIMARY KEY (id)
);

DROP TABLE customers;
ALTER TABLE customers ADD phone VARCHAR(20);
TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.<br>
ANS: <br>
DML stands for Data Manipulation Language, which is a subset of SQL that allows users to manipulate the data stored in a database. DML commands are used to insert, update, and delete data from database tables.<br><br>

The following are some of the commonly used DML commands:<br>
INSERT: This command is used to insert new data into a table<br>
UPDATE: This command is used to modify existing data in a table<br>
DELETE: This command is used to remove data from a table<br>

In [ ]:
INSERT INTO employees (id, name, salary)
VALUES (101, 'Ramesh', 50000);

UPDATE employees
SET salary = 55000
WHERE id = 101;

DELETE FROM employees
WHERE salary < 50000;

Q4. What is DQL? Explain SELECT with an example.<br>
ANS:<br>
DQL stands for Data Query Language, which is a subset of SQL that allows users to retrieve and manipulate data stored in a database. DQL commands are used to query a database, retrieve data, and display the results.<br>
The most commonly used DQL command is SELECT, which is used to retrieve data from one or more database tables. The SELECT statement specifies the columns to retrieve and the tables to retrieve them from.<br>

In [ ]:
SELECT * FROM employees;

Q5. Explain Primary Key and Foreign Key.<br>
ANS:<br>

* A primary key is a unique identifier for a row in a table. It is a column or combination of columns that uniquely identifies each row in a table.  
* primary key constraint ensures that the primary key value for each row is unique and not null.<br><br>
* A foreign key is a column in a table that is used to establish a link to the primary key of another table.<br>
* The foreign key constraint ensures that the values in the foreign key column match the values in the primary key column of the referenced table or are null

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.<br>
ANS:<br>
* The cursor() method, which allows us to interact with the database. We then execute a SQL query using the execute() method, which takes a SQL statement as a parameter.

In [ ]:
import mysql.connector

# establish a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="name",
  password="password",
  database="database"
)

# create a cursor object to interact with the database
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

Q7. Give the order of execution of SQL clauses in an SQL query.<br>
ANS:<br>
The order of execution of SQL clauses in an SQL query is as follows:
<br>
FROM: The FROM clause specifies the table or tables from which the data will be retrieved.
<br>
WHERE: The WHERE clause is used to filter the rows returned by the query based on a condition.
<br>
GROUP BY: The GROUP BY clause is used to group the result set by one or more columns.
<br>
HAVING: The HAVING clause is used to filter the groups created by the GROUP BY clause based on a condition.
<br>
SELECT: The SELECT clause specifies the columns to be retrieved from the result set.
<br>
DISTINCT: The DISTINCT keyword is used to remove duplicates from the result set.
<br>
ORDER BY: The ORDER BY clause is used to sort the result set by one or more columns.
<br>
LIMIT/OFFSET: The LIMIT/OFFSET clause is used to limit the number of rows returned by the query and to specify the starting row for the result set.