<a href="https://colab.research.google.com/github/pnp642001/Data-Science-Masters-Bootcamp/blob/main/Assignment_17_Feb_17_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?<br>
ANS:<br>
* MongoDB is a popular NoSQL document-oriented database that allows users to store and retrieve data in flexible JSON-like documents. 
* It is designed to handle unstructured or semi-structured data and is built to scale horizontally, making it an attractive option for web applications with large and growing datasets.

* Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional relational data model, which organizes data into tables with fixed schemas. 
* Instead, NoSQL databases use various data models, such as document-oriented, key-value, graph, or column-family. They are often more flexible and scalable than traditional SQL databases and can handle a variety of data types, including unstructured data, such as text, images, and videos.

* MongoDB is preferred over SQL databases in scenarios where you need to handle large amounts of data, and the data is not structured in a strict, predefined schema. 
* It is also useful when you need to scale horizontally across multiple servers to handle high traffic loads. This makes it a popular choice for web applications, content management systems, and big data analytics. 
* However, SQL databases may be a better choice in situations where data needs to be structured, and the relationships between data elements are well-defined, such as in a traditional online transaction processing (OLTP) application.

Q2. State and Explain the features of MongoDB.<br>
ANS:<br>
MongoDB is a popular NoSQL document-oriented database that offers a range of features that set it apart from traditional relational databases. Here are some of the key features of MongoDB:<br>

Document-oriented data model: 
* MongoDB is a document-oriented database that stores data in flexible JSON-like documents. 
* Each document contains a set of key-value pairs, and the schema can be updated as the data changes.
<br>
Dynamic schema: 
* Unlike traditional SQL databases, which require a predefined schema, MongoDB allows for a dynamic schema, which means you can store different types of data in the same collection.
<br>
Scalability: 
* MongoDB is designed to scale horizontally across multiple servers, making it well-suited for handling large and growing datasets.
<br>
Indexing: 
* MongoDB supports a variety of indexing options, including single-field, multi-field, and geospatial indexes, which help optimize query performance.
<br>
Aggregation framework: 
* MongoDB's powerful aggregation framework allows for complex data aggregation, filtering, and transformation, making it an excellent tool for data analysis.
<br>
High availability: 
* MongoDB provides automatic failover and data replication, ensuring that your data is always available, even in the event of a server failure.
<br>
Ad hoc queries: 
* MongoDB supports ad hoc queries, which allow for flexible querying of the data, making it easy to find and analyze the data you need.
<br>
Strong community support: 
* MongoDB has a large and active community of users and developers, which means there are many resources available for learning and getting help.<br>

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.<br>

In [1]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.9/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.9/dist-packages (from pymongo) (2.3.0)

In [2]:
import pymongo

# Connect to MongoDB
client = pymongo.MongoClient('mongodb+srv://pwskills:pwskills@cluster0.58kftui.mongodb.net/?retryWrites=true&w=majority')

# Create a database
mydb = client["mydatabase"]

# Create a collection
mycol = mydb["customers"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [3]:
mydict = { "name": "John", "address": "Highway 37" }
mycol.insert_one(mydict)

# Insert many records
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"}
]
mycol.insert_many(mylist)

# Print the inserted record using find_one()
print(mycol.find_one())

# Print all inserted records using find()
for x in mycol.find():
  print(x)

{'_id': ObjectId('64115341de18ccfabc05816d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64115341de18ccfabc05816d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64115342de18ccfabc05816e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64115342de18ccfabc05816f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64115342de18ccfabc058170'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64115342de18ccfabc058171'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64115342de18ccfabc058172'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64115342de18ccfabc058173'), 'name': 'Richard', 'address': 'Sky st 331'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.<br>
ANS:<br>
The find() method is used to query data in MongoDB, and it takes a query object as an argument to specify the criteria for selecting documents from a collection. The find() method returns a cursor object that can be used to iterate over the selected documents.

In [5]:
cursor=mycol.find({"address":"Mountain 21"})

for i in cursor:
  print(i)

{'_id': ObjectId('64115342de18ccfabc05816f'), 'name': 'Hannah', 'address': 'Mountain 21'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.<br>
ANS:<br>
The sort() method in MongoDB is used to sort the documents returned by a query in ascending or descending order based on one or more fields. The method takes a document as a parameter, where each field specifies the sorting order for the corresponding field in the query results. The value of each field can be either 1 (ascending) or -1 (descending).

In [20]:
cursor=mycol.find().sort(  "name",1  )

In [22]:
for i in cursor:
  print(i)

Q7. Explain why delete_one(), delete_many(), and drop() is used.<br>
ANS:<br>
In MongoDB, delete_one(), delete_many(), and drop() are used to remove data from a collection or an entire collection.<br><br>

delete_one() is used to remove a single document from a collection that matches a given filter. This method takes a query object as an argument that specifies the filter criteria for selecting the document to remove. If there are multiple documents that match the filter, only the first document will be removed.<br><br>

delete_many() is used to remove multiple documents from a collection that match a given filter. This method takes a query object as an argument that specifies the filter criteria for selecting the documents to remove. All documents that match the filter will be removed.
<br><br>
drop() is used to remove an entire collection from a database. This method takes no arguments and will remove the entire collection and all of its documents.

In [23]:
mycol.delete_one({'name':'Betty'})

for i in mycol.find():
  print(i)

{'_id': ObjectId('64115341de18ccfabc05816d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64115342de18ccfabc05816e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64115342de18ccfabc05816f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64115342de18ccfabc058170'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64115342de18ccfabc058171'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64115342de18ccfabc058173'), 'name': 'Richard', 'address': 'Sky st 331'}

In [24]:
mycol.delete_many({'name':'Richard','name':'Hannah'})

for i in mycol.find():
  print(i)

{'_id': ObjectId('64115341de18ccfabc05816d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64115342de18ccfabc05816e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64115342de18ccfabc058170'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64115342de18ccfabc058171'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64115342de18ccfabc058173'), 'name': 'Richard', 'address': 'Sky st 331'}

In [25]:
#DROP WILL DELETE THE ENTIRE COLLECTION
#mycol.drop()