<a href="https://colab.research.google.com/github/pnp642001/Data-Science-Masters-Bootcamp/blob/main/Assigment_5_Feb_4_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q:1 Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [1]:
list_1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

list_1.sort(key=lambda x:x[1])

print(list_1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list_2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list(map(lambda x: x**2,list_2)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions <br>
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list_3=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(tuple(map(lambda x: str(x),list_3)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [9]:
from functools import reduce
list_4=[ele for ele in range(1,26)]
reduce(lambda x,y:x*y,list_4)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.<br>
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [10]:
list_5=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x: x%2==0 and x%3==0,list_5))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.<br>
['python', 'php', 'aba', 'radar', 'level']

In [11]:
list_6=['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x: x==x[::-1],list_6))

['php', 'aba', 'radar', 'level']