<a href="https://colab.research.google.com/github/pnp642001/Data-Science-Masters-Bootcamp/blob/main/February_24_2023_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. List any five functions of the pandas library with execution.<br>
ANS:<br>
1. DataFrame()
2. head()
3. tail()
4. describe()
5. info()

In [1]:
import pandas as pd

data={'Name':['Alice','Bob','Demon','Dylan','Ethen'],
      'Age':[20,50,18,25,35],
      'Income':[10000,500000,120000,72000,90000]}

df=pd.DataFrame(data)

In [2]:
df.head(2)

    Name  Age  Income
0  Alice   20   10000
1    Bob   50  500000

In [3]:
df.tail(2)

    Name  Age  Income
3  Dylan   25   72000
4  Ethen   35   90000

In [4]:
df.describe()

             Age         Income
count   5.000000       5.000000
mean   29.600000  158400.000000
std    13.164346  195148.148851
min    18.000000   10000.000000
25%    20.000000   72000.000000
50%    25.000000   90000.000000
75%    35.000000  120000.000000
max    50.000000  500000.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Income  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [7]:
data={'A':['Alice','Bob','Demon','Dylan','Ethen'],
      'B':[20,50,18,25,35],
      'C':[10000,500000,120000,72000,90000]}

df=pd.DataFrame(data)
df

       A   B       C
0  Alice  20   10000
1    Bob  50  500000
2  Demon  18  120000
3  Dylan  25   72000
4  Ethen  35   90000

In [11]:
def re_index(df):

  length=len(df)

  new_index=pd.RangeIndex(start=1,stop=length*2,step=2)

  return df.set_index(new_index)

new_df=re_index(df)

print(new_df)

       A   B       C
1  Alice  20   10000
3    Bob  50  500000
5  Demon  18  120000
7  Dylan  25   72000
9  Ethen  35   90000

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [12]:
df_3=pd.DataFrame({'Values':[10,20,30,40,50]})

In [14]:
def sum_df(df):
  sum=0
  for index in df.index:
    if index==3:
      return sum
    sum+=df['Values'][index]
  
  return sum

sum=sum_df(df_3)

print(sum)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [16]:
def count_words(df):
    
    words = df['Text'].str.split()

    word_counts = words.apply(len)

    df['Word_Count'] = word_counts

    return df

df = pd.DataFrame({'Text': ['This is a sentence.', 'Here is another one.', 'And a third.']})
df = count_words(df)
print(df)

                   Text  Word_Count
0   This is a sentence.           4
1  Here is another one.           4
2          And a third.           3

Q5. How are DataFrame.size() and DataFrame.shape() different?<br>
ANS:<br>
DataFrame.size() and DataFrame.shape() are two different methods in Pandas DataFrame with different functionalities.

DataFrame.size() returns the total number of elements in a DataFrame. It is equivalent to the product of the number of rows and columns in the DataFrame.

DataFrame.shape() returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns respectively.

Q6. Which function of pandas do we use to read an excel file?<br>
ANS:<br>

**read_excel()**

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [17]:
data={'Email':['pp@gmail.com','abc@gmail.com','kkkab@gmail.com','Hello@yahoo.com','World@pw.com']}

df=pd.DataFrame(data)
print(df)

             Email
0     pp@gmail.com
1    abc@gmail.com
2  kkkab@gmail.com
3  Hello@yahoo.com
4     World@pw.com

In [24]:
def user_name(df):
  new_data=df['Email'].str.split('@')
  final_data=[]
  for i in new_data:
    final_data.append(i[0])
  df['UserName']=final_data
  return df

print(user_name(df))

             Email UserName
0     pp@gmail.com       pp
1    abc@gmail.com      abc
2  kkkab@gmail.com    kkkab
3  Hello@yahoo.com    Hello
4     World@pw.com    World

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [25]:
data={'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df=pd.DataFrame(data)

print(df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [44]:
def value_filter(df):
  new_df=df[(df['A'] > 5) & (df['B'] < 10)]
  new_df.reset_index(drop=True, inplace=True)
  return new_df

new_df=value_filter(df)

print(new_df)

   A  B  C
0  8  2  7
1  6  9  4
2  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [47]:
df = pd.DataFrame({'Values': [ele for ele in range(1,21)]})
print(df)

    Values
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20

In [51]:
def stats(df):
  mean=df['Values'].mean()
  median=df['Values'].median()
  std=df['Values'].std()

  print('mean: ',mean)
  print('median: ',median)
  print('std: ',std)

stats(df)

mean:  10.5
median:  10.5
std:  5.916079783099616

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [52]:

def calculate_moving_average(df):
    
    df['Date'] = pd.to_datetime(df['Date'])

  
    df = df.sort_values('Date')


    ma = df['Sales'].rolling(window=7, min_periods=1).mean()

  
    df['MovingAverage'] = ma


    return df


df = pd.DataFrame({
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10'],
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})
df_ma = calculate_moving_average(df)
print(df_ma)

        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     20           15.0
2 2022-01-03     30           20.0
3 2022-01-04     40           25.0
4 2022-01-05     50           30.0
5 2022-01-06     60           35.0
6 2022-01-07     70           40.0
7 2022-01-08     80           50.0
8 2022-01-09     90           60.0
9 2022-01-10    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [54]:

def add_weekday_column(df):
  
    df['Date'] = pd.to_datetime(df['Date'])

   
    df['Weekday'] = df['Date'].dt.day_name()


    return df

# Example usage
df = pd.DataFrame({
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10']
})
df_weekday = add_weekday_column(df)
print(df_weekday)

        Date    Weekday
0 2022-01-01   Saturday
1 2022-01-02     Sunday
2 2022-01-03     Monday
3 2022-01-04    Tuesday
4 2022-01-05  Wednesday
5 2022-01-06   Thursday
6 2022-01-07     Friday
7 2022-01-08   Saturday
8 2022-01-09     Sunday
9 2022-01-10     Monday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [55]:

def select_january_rows(df):
   
    df['Date'] = pd.to_datetime(df['Date'])

   
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    df_january = df.loc[mask]


    return df_january

df = pd.DataFrame({
    'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01'],
    'Sales': [10, 20, 30, 40, 50]
})
df_january = select_january_rows(df)
print(df_january)

        Date  Sales
1 2023-01-01     20
2 2023-01-15     30
3 2023-01-31     40

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?<br>
ANS:<br>
**import pandas as pd**