<a href="https://colab.research.google.com/github/pnp642001/Data-Science-Masters-Bootcamp/blob/main/February_22_2023_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
list1=[4,8,15,16,23,42]

series_1=pd.Series(list1)

In [2]:
series_1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
list_2=[ele for ele in range(10)]

series_2=pd.Series(list_2)

print(series_2)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:<br>
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [4]:
dict_1={'Name':['Alice', 'Bob' ,'Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df_1=pd.DataFrame(dict_1)
print(df_1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ANS:<br>
In Pandas, a DataFrame is a two-dimensional, size-mutable, and tabular data structure with labeled axes (rows and columns). It can be thought of as a table, similar to a spreadsheet or SQL table, where each column can have a different data type (e.g. integer, float, string, etc.).

On the other hand, a Series is a one-dimensional array-like object that can hold a variety of data types such as integers, floats, and strings, among others. It is essentially a single column of a DataFrame, with a labeled index.

In [5]:
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Country': ['USA', 'Canada', 'UK']})

# Creating a Series
series = pd.Series([25, 30, 35], name='Age')

In [7]:
print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK

In [8]:
print(series)

0    25
1    30
2    35
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?<br>
ANS:<br>
Pandas provides many functions to manipulate data in a DataFrame. Some common functions are:

head() and tail(): 

These functions allow you to view the first or last few rows of a DataFrame, respectively. They are useful for quickly checking the data and ensuring that it has been imported correctly.

describe():

 This function gives a statistical summary of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartiles.

info(): 

This function gives a concise summary of the DataFrame, including the data types of each column, the number of non-null values, and the memory usage.

drop(): 

This function allows you to drop rows or columns from the DataFrame based on a specified condition. For example, you might use this function to remove missing values from the DataFrame.

In [9]:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],'Age': [25, 30, 35, 40, 45], 
                   'Country': ['USA', 'Canada', 'UK', 'USA', 'Canada']})

In [10]:
df.head(2)

    Name  Age Country
0  Alice   25     USA
1    Bob   30  Canada

In [12]:
df.tail(2)

   Name  Age Country
3  Dave   40     USA
4   Eve   45  Canada

In [13]:
df.describe()

             Age
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      5 non-null      int64
 2   Country  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [16]:
df.drop(1)

      Name  Age Country
0    Alice   25     USA
2  Charlie   35      UK
3     Dave   40     USA
4      Eve   45  Canada

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?<br>
ANS:<br>
Both Series and DataFrame are mutable in nature, meaning that you can modify their contents after they have been created. On the other hand, Panel is considered deprecated and has been removed from the latest versions of Pandas. It has been replaced by the more flexible and powerful MultiIndex objects, which can be used to represent three or more dimensions of data.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [18]:
name=['Alice','Dave','Ethen']
age=[12,13,14]

df=pd.DataFrame({'Name':name,'Age':age})

print(df)

    Name  Age
0  Alice   12
1   Dave   13
2  Ethen   14